@font-face {
    font-family: 'Stikco';
    src: url('Stikco.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Theories';
    src: url('Theories\ Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boldstrom';
    src: url('Boldstrom\ D.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gonzi Light';
    src: url('Gonzi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gonzi Bold';
    src: url('Gonzi-Bold.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}