@import "tailwindcss";

/* Base Body Styles */
body {
    background-color: #dcc7b6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@layer utilities {
    @keyframes slow-drift {
        0%, 100% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(20px, -30px);
        }
        50% {
            transform: translate(-15px, -20px);
        }
        75% {
            transfrom: translate(30px, 10px);
        }
    }
}