@font-face {
    font-family: 'Gilroy Light';
    src: url('Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'High Jinks';
    src: url('High\ Jinks.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Deadly Advance';
    src: url('Deadly\ Advance.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dimitri Solid';
    src: url('DIMITRI_.TTF') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dimitri Outline';
    src: url('DIMIS___.TTF') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fashion Bolder';
    src: url('Fashion\ Fetish\ Heavy.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fashion Bold';
    src: url('Fashion\ Fetish\ Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}